/* @import must precede all other statements (besides @charset or empty @layer) */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: Outfit;
}
