/* @import must precede all other statements (besides @charset or empty @layer) */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: Outfit;
}

@theme {
  --shadow-custom-card: 0px 4px 15px 2px rgba(0, 0, 0, 0.1);
  --spacing-course-card: 500px;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

/* Home Page Headings */
@utility text-home-heading-small {
  font-size: 45px;
  line-height: 55px;
}

@utility text-home-heading-large {
  font-size: 48px;
  line-height: 56px;
}

/* Course Details Headings */
@utility text-course-details-heading-small {
  font-size: 26px;
  line-height: 36px;
}

@utility text-course-details-heading-large {
  font-size: 36px;
  line-height: 44px;
}

/* Default text size */
@utility text-default {
  font-size: 15px;
  line-height: 21px;
}

/* Auto-fit responsive grid */
@utility grid-cols-auto {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* Custom Height Utility */
@utility h-section-height {
  height: 500px;
}

/* Bigger Image Utility */
@utility course-card-img-lg {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

@utility rich-text {
  font-size: 15px;
  color: #7a7b7d;

  & p {
    margin-bottom: 16px;
  }

  & h1 {
    font-size: 36px;
    font-weight: 800;
    color: #252525;
    margin: 32px 0;
  }

  & h2 {
    font-size: 22px;
    font-weight: 700;
    color: #252525;
    margin: 24px 0;
  }

  & h3 {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    margin: 20px 0;
  }

  & h4 {
    font-size: 16px;
    font-weight: 500;
    color: #444444;
    margin: 16px 0;
  }

  & h5 {
    font-size: 14px;
    font-weight: 400;
    color: #555555;
    margin: 12px 0;
  }

  & h6 {
    font-size: 12px;
    font-weight: 400;
    color: #666666;
    margin: 8px 0;
  }

  & strong {
    font-weight: 700;
  }

  & ol {
    margin-left: 30px;
    list-style-type: decimal;
  }

  & ul {
    margin-left: 30px;
    list-style-type: disc;
  }

  & li {
    margin-bottom: 8px;
  }
}
